<div class="add-product">
  <div class="my-container">
    <div class="add-product__header">
      <h3>products</h3>
      <P>
        <a routerLink="/"><i class="fa-solid fa-gauge"></i>home > </a>
        <a routerLink="/listProducts">products > </a>
        <a routerLink="/addproduct">add product</a>

      </P>

    </div>
    <div class="add-product__box-container">
      <p>Please enter data of product you want to add </p>

      <!-- start form to add product  -->
      <form #f="ngForm">
        <div class="form-group">
          <label for="exampleFormControlInput1">product name</label>
          <input ngModel name="pro_name" #pro_name = "ngModel" type="text" class="form-control" placeholder="product name" required minlength="5">
          <p class="alert alert-danger" *ngIf="pro_name.touched && pro_name.errors?.['required']">product name is required </p>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">category</label>
          <input ngModel name="pro_cat" #pro_cat = 'ngModel' type="text" class="form-control"  placeholder="category name" required minlength="3">
          <p class="alert alert-danger" *ngIf="pro_cat.touched  && pro_cat.errors?.['required'] ">category is required </p>
          <p class="alert alert-danger" *ngIf="pro_cat.touched  && pro_cat.errors?.['minlength'] ">min length is 3 charachters</p>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Qty</label>
          <input ngModel name="pro_Qty" #qty = 'ngModel' type="number" class="form-control"  placeholder="Quantity" required  >
          <p class="alert alert-danger" *ngIf="qty.touched && qty.errors?.['required']">qtyl is required</p>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">cost</label>
          <input ngModel name="pro_cost" #cost = "ngModel" type="number" class="form-control"  placeholder="product cost" required>
          <p class="alret alert-danger" *ngIf="cost.touched &&  cost.errors?.['required']">cost required</p>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">price</label>
          <input ngModel name="pro_price" #price = "ngModel" type="number" class="form-control"  placeholder="product price" required >
          <p class="alert alert-danger" *ngIf="price.touched &&  price.value < cost.value">يجب أن يكون سعر البيع أكبر من سعر الشراء </p>
          <p class="alert alert-danger" *ngIf="price.touched &&  price.errors?.['required']">price is required  </p>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">notes</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-success" [disabled]="f.invalid">save</button>
      </form>
      <!-- end form add product  -->
    </div>
  </div>

</div>
