.quick-links {
  box-shadow: 0px 0px 2px #998e8e;
    padding: 1rem;
    margin-bottom: 2rem;
  h5 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__link-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(100px,1fr));
    gap: 10px;
    padding: 1.2rem;
    a {
      color: #000;
      border: 1px solid #d1d1d1;
      text-align: center;
      padding: 14px;
      background-color: #ecf0f5;
      box-shadow: 1px 1px 3px #5ca5c14a;
      i{
        display: block;
      }
    }
  }

}
