<div class="quick-links">
  <h5>quick links</h5>
  <div class="quick-links__link-container">
    <a routerLink="/listProducts">
      <i class="fa-solid fa-barcode"></i>
      products
    </a>
    <a routerLink="/listcategory">
      <i class="fa-solid fa-folder-open"></i>
      categories
    </a>

    <a routerLink="/listGiftCard">
      <i class="fa-solid fa-credit-card"></i>
      gift card
    </a>
    <a routerLink="/listcustomers">
      <i class="fa-solid fa-people-carry-box"></i>
      customers
    </a>
    <a routerLink="/">
      <i class="fa-solid fa-gear"></i>
      settings
    </a>
    <a routerLink="/">
      <i class="fa-solid fa-chart-line"></i>
      reports
    </a>
    <a routerLink="/listusers">
      <i class="fa-solid fa-users"></i>
      users
    </a>
    <a routerLink="/">
      <i class="fa-solid fa-database"></i>
      backup
    </a>
  </div>
</div>
