.operations-btn {

  display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    box-shadow: 0px 0px 3px #7664648c;
    background-color: #e7e7e740;

  @media (max-width: 880px) {
    // width: 100%;
    justify-content: flex-start;
    margin-bottom: 1.4rem;
  }
  button {
    width: auto;
    margin: 1rem 0.5rem;
    padding: 0.7rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-weight: bold;
    letter-spacing: 1px;
    @media (max-width: 768px) {
      font-size: 1.8rem;
      padding: 1rem;
    }
    &:hover{
      background-color: rgb(204, 202, 202);
    }
    &:nth-child(2) {
      color: #3f51b5;
    }

    &:nth-child(3) {
      color: #e73b7f;
    }
    &:nth-child(4) {
      color: #009688;
    }
    i {
      margin-right: 0.7rem;
    }
  }
}
