<div class="operations-btn">
  <button (click)="custome_message()" ><a><i class="fa-solid fa-copy"></i>Copy</a></button>
  <button (click)="custome_message()" ><a><i class="fa-solid fa-file-excel"></i>Excel</a></button>
  <button (click)="custome_message()" ><a><i class="fa-solid fa-file-csv"></i>Csv</a></button>
  <button (click)="custome_message()" ><a><i class="fa-solid fa-file-pdf"></i>Pdf</a></button>
  <button ><a routerLink="/{{link}}"><i class="fa-solid fa-file-pdf"></i>new</a></button>
</div>
