<div class="dashboard">
  <div class="my-container">
    <div class="dashboard__header">
      <h3>
        dashoard
      </h3>
      <P>
        <a routerLink="/"><i class="fa-solid fa-gauge"></i> home</a>
        <span> > dashboard</span>
      </P>

    </div>
    <div class="dashboard__quick-links">
      <h5>quick links</h5>
      <div class="dashboard__quick-links__link-container">
        <a routerLink="/listProducts">
          <i class="fa-solid fa-barcode"></i><br>
          products
        </a>
        <a routerLink="/listcategory">
          <i class="fa-solid fa-folder-open"></i><br>
          categories
        </a>

        <a routerLink="/listGiftCard">
          <i class="fa-solid fa-credit-card"></i><br>
          gift card
        </a>
        <a routerLink="/listcustomers">
          <i class="fa-solid fa-people-carry-box"></i><br>
          customers
        </a>
        <a routerLink="/">
          <i class="fa-solid fa-gear"></i><br>
          settings
        </a>
        <a routerLink="/">
          <i class="fa-solid fa-chart-line"></i><br>
          reports
        </a>
        <a routerLink="/listusers">
          <i class="fa-solid fa-users"></i><br>
          users
        </a>
        <a routerLink="/">
          <i class="fa-solid fa-database"></i><br>
          backup
        </a>
      </div>
      <div class="dashboard__quick-links__content">
        <div class="chart">
          <canvas id="myChart"></canvas>
        </div>
        <div class="chart">
          <canvas id="myChart-2"></canvas>
        </div>
        <div class="chart">
          <canvas id="myChart-3"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>
