<div class="dashboard">
  <div class="my-container">
   <app-header
   [tittle1]="'home'"
   [tittle2]="'dashboard'"
   [link1]="'/'"
   [link2]="'dashboard'"
   ></app-header>
    <div class="dashboard__content">
      <app-quick-links></app-quick-links>
      <div class="chart">
      <canvas id="myChart"></canvas>
      </div>
      <div class="chart">
        <canvas id="myChart-2"></canvas>
      </div>
      <div class="chart">
        <canvas id="myChart-3"></canvas>
      </div>
    </div>
  </div>

</div>
