.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;

  h3 {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    font-size: 1.8rem;
    font-weight: bold;
  }
  p {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0rem;
    color: #898989;
    a {
      color: #898989;
    }
  }
}
