.add-user {
  .my-container {
    width: 95%;
    margin: auto;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;

    h3 {
      font-size: 1.8rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0rem;
      font-size: 1.8rem;
      font-weight: bold;
    }
    p {
      font-size: 1.3rem;
      font-weight: bold;
      margin: 0rem;
      color: #898989;
      a {
        color: #898989;
      }
    }
  }
  &__box-container {
    background-color: #FFF;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
    border-top: 4px solid #617fc3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   &>p {
      color: #444;
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }


    form{
      width: 60%;
      margin-left: 2rem;
      padding: 2rem;
      @media (max-width:992px) {
        width: 100%;
        margin-left: 0rem;
        padding: 1rem;
      }
     .form-group{
       label{
        font-size: 1.5rem;
        color: #585656de;
       }
       input{
        padding: 0.5rem;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
       }
       p{
        font-size: 1rem;
        text-align: center;
        padding: 0rem;
        font-weight: normal;
        letter-spacing: .5px;
       }
       select{
        padding: 0.5rem;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
       }

      }
      button{
       font-size: 2rem;
       margin: 2rem 0rem;
       width: 20rem;
       text-transform: capitalize;
       border-radius: 5px;
      }
    }
    &__info{
      display: flex;
      justify-content: space-between;
      padding: .4rem 1.5rem;
      font-size: 1.5rem;
      align-items: center;

      p{
        margin: 0rem;
        text-transform: lowercase;
        font-size: 1.7rem;
      }
      div{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
          padding: 1rem;
          background-color: #eee;
          font-size: 1.8rem;
          border: 1px solid #dbdbdb;
          border-radius: 2px;
        }
        span{
          background-color: #468dbc;
          color: #FFF;
          font-weight: bold;
          padding: 1.3rem;
        }
      }
    }

  }
}
