<div class="my-nav">

  <div class="my-nav__left">
    <h3><a routerLink="">simple<span>pos</span></a></h3>
  </div>
  <div class="my-nav__right">
    <div>
      <i class="fa-solid fa-arrow-right-to-bracket open" (click)="show_side_bar()"></i>
    </div>
    <div>
      <ul>
        <li><a routerLink=""> <i class="fa-solid fa-gauge"></i></a></li>
        <li><a routerLink="/listusers"><i class="fa-solid fa-gear"></i></a></li>
        <li><a routerLink="/pos"><i class="fa-solid fa-desktop"></i></a></li>
        <li><a routerLink="/listProducts"><i class="fa-solid fa-table-cells"></i></a></li>
        <li>

        </li>
        <li><a href="#">
            <img src="./assets/images/avatar-1.png" alt="">
            <span>Ahmed Salah</span>
          </a>
        </li>

      </ul>
    </div>
  </div>


</div>
