.my-nav {
  background: #0064a6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  font-size: 2rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  &__left {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #426b8d;
    font-weight: normal;
    font-size: 1.5rem;
    padding: 0.5rem;
    h3 {
      margin: 0rem;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
    a {
      text-decoration: none;
      color: #fff;
      span {
        font-size: 3rem;
        margin-left: 0.5rem;
      }
    }
  }
  &__right {
    justify-content: space-between;
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1.4rem;
    background-color: #0069a6;

    @media (max-width: 576px) {
      width: 100%;
    }
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 1rem;
      &:first-child {
        i {
            transform: rotate(180deg);
          &.rotate {
            transform: rotate(0deg);
          }
        }
        button {
          display: flex;
          background-color: transparent;
          border: none;
          color: #fff;
        }
      }
      &:nth-child(2) {
        width: 60rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        ul {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          margin: 0rem;
          li {
            padding: 0.4rem 1rem;
            &:hover {
              background-color: #428d4d;
            }
            a {
              text-decoration: none;
              color: #fff;
            }
            &:last-child {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 0rem;
              font-size: 1.8rem;
              padding: 0.2rem 1rem;
              img {
                width: 4rem;
                height: 4rem;
                object-fit: cover;
                margin-right: 1rem;
              }
              span {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
