<div class="list-suppliers">
  <div class="my-container">
    <app-header
    [tittle1]="'home'"
    [tittle2]="'list-suppliers'"
    [link1]="'/'"
    [link2]="'listsuppliers'"
    ></app-header>
    <div class="box-container">
      <app-quick-links></app-quick-links>

      <div class="operations">
        <div class="mat-form-field">
          <mat-form-field appearance="standard">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" [(ngModel)]="value" #input>
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = '' ">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <app-operations></app-operations>

      </div>
      <div class="table-content">


        <div class="mat-elevation-z8">

          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
              <td mat-cell *matCellDef="let row"> {{row.id}}</td>
            </ng-container>
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> firstname </th>
              <td mat-cell *matCellDef="let row"> {{row.firstname}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> lastname </th>
              <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
            </ng-container>

            <!-- Fruit Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> address </th>
              <td mat-cell *matCellDef="let row"> {{row.address}} </td>
            </ng-container>
            <!-- Fruit Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
              <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef > action </th>
              <td mat-cell *matCellDef="let row">
                <a  class="delete"><i class="fa-solid fa-trash-can"></i></a>
                <a  class="edit"><i class="fa-solid fa-pencil"></i></a>
               </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the search "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10,5, 25, 100]" aria-label="Select page of suppliers" showFirstLastButtons>
          </mat-paginator>

        </div>


      </div>

    </div>
  </div>

</div>
