<div class="gift-card">
  <div class="my-container">
    <app-header
    [tittle1]="'home'"
    [tittle2]="'gift-cards'"
    [tittle3]="'add-gift-card'"
    [link1]="'/'"
    [link2]="'listGiftCard'"
    [link3]="'addGiftCard'"
    ></app-header>
    <div class="box-container-form">
      <app-quick-links></app-quick-links>
      <p>Please enter data of category you want to add </p>
      <!-- start form to add category  -->
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">card no</label>
          <input type="text" class="form-control" placeholder="category name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">value</label>
          <input type="text" class="form-control"  placeholder="category name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Expiry Date</label>
          <input type="text" class="form-control"  placeholder="Quantity">
        </div>

        <button type="button" class="btn btn-success">save</button>
      </form>
      <!-- end form add category  -->
    </div>
  </div>

</div>
