<div class="gift-card">
  <div class="my-container">
    <div class="gift-card__header">
      <h3>categories</h3>
      <P>
        <a routerLink="/"><i class="fa-solid fa-gauge"></i> home</a>
        <span> > add category</span>
      </P>

    </div>
    <div class="gift-card__box-container">
      <p>Please enter data of category you want to add </p>
      <!-- start form to add category  -->
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">card no</label>
          <input type="text" class="form-control" placeholder="category name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">value</label>
          <input type="text" class="form-control"  placeholder="category name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Expiry Date</label>
          <input type="text" class="form-control"  placeholder="Quantity">
        </div>

        <button type="button" class="btn btn-success">save</button>
      </form>
      <!-- end form add category  -->
    </div>
  </div>

</div>
