.list-products {
  .my-container {
    width: 95%;
    margin: auto;
  }

  &__box-container {
    background-color: #21ff0012;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
    border-top: 4px solid #617fc3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &__operations {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      & > div {
       &:nth-child(1){
         width: 40rem;
         mat-form-field{
           width: 100%;
         }
        }
      }
    }
    &__table-content {
      overflow: hidden;
      .mat-form-field {
        width: 100%;

      }

      table {
        overflow-x: scroll;
        tr {
          font-size: 1.4rem;
          text-align: left;
          height: 4.4rem;
          border-bottom: 0.5px solid #dbdada;
          th {
            font-size: 1.5rem;
            border: 1px solid rgba(35, 72, 190, 0.774);
            width: calc(100% / 6);
            padding-left: 1rem;
            background-color: rgb(0, 0, 0);
            color: #FFF;
            &:last-child{
              text-align: center;
            }
          }
          td {
            padding-left: 1rem;
            width: calc(100% / 7);
            img{
              object-fit: cover;
              width: 5rem;
              height: 5rem;
              border-radius: 5px;
              margin: 0.4rem;
            }
            &:last-child{
              text-align: center;
              a{
                &.delete{
                  color: red;
                }
                i{
                  margin-right: .5rem;
                }
              }
            }

          }
        }

      }
      mat-table {
        max-width: 100%;
        @media (max-width:678px) {
          overflow-x: auto;
        }
      }

    }
  }
}
