/* You can add global styles to this file, and also import other style files */
// import file of variables
@import '../src/app/sass/variables';
*{
 margin:0px;
 padding: 0px;
 transition: all .2s linear;
 text-transform: capitalize;
 box-sizing: border-box;

}
html{
  font-size: 55%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  @media (max-width:992px) {
    font-size: 48%;
  }
  @media (max-width:768px) {
    font-size: 43%;
  }
  @media (max-width:400px) {
    font-size: 37%;
  }
  @media (max-width:280px) {
    font-size: 32%;
  }
}
body{
  margin: 0; font-family:
  Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  // min-height: 5000px;
}
.mat-body, .mat-body-1, .mat-typography{
  background-color: #222d32;

}
ul{
  margin:0px;
  padding:0px;
  list-style: none;
}
a{
  text-decoration: none !important;
  color: black;
}
.content{
  margin-left: 200px;
  background-color: #ecf0f5;
  z-index: -110;
  padding-top: 5rem;
  min-height: 670px;
  &.show {
    margin-left:200px;
  }
  &.hidden{
    margin-left: 0px;
    width: 100%;
  }
@media (max-width:768px) {
    width: 100%;
    margin-left: 0rem;
    padding-top: 10rem;
  }
  @media (max-width:576px) {
    padding-top: 12rem;
  }
  @media (max-width:377px) {
    padding-top: 15rem;
  }
  @media (max-width:232px) {
    padding-top: 17rem;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


//==================================================
//==============>> style of scrollbar <<============
::-webkit-scrollbar {
  width: .9rem;
 }

::-webkit-scrollbar-track {
  border: .2rem solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.178);
  }

::-webkit-scrollbar-thumb {
  background-color: #00a65a;
  border-radius: 1rem;
}



/* for Firefox */
//==============>> angular material <<==============
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
// btn of scroll to top
#myBtn {
  display: none;
  position: fixed;
  bottom: 43px;
  right: 19px;
  z-index: 99;
  border: none;
  background-color: #0083ff;
  color: white;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 10px;
  font-size: 1.3rem;
}

